.vscode/**
.vscode-test/**
out/test/**

src/**
pack/**
.gitignore
.yarnrc
.editorconfig
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/.prettierrc.js
**/*.map
**/*.ts

!node_modules/types-for-adobe
